*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Arvo', serif;
	color: #6976b5;
	margin: 5px;
}

.section1{
	margin: auto;
	max-width: 65%;
	height: 700px;
}
video{
	position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}
.about{
	width: auto;
	margin-top: 5%;
	padding: 20px;
	background: rgba(26,35,77,0.8);
}
.who{
	text-align: center;
	font-family: 'VT323', monospace;
	color: #e0ce00;
	margin: 5px;
}
.who h1{
	font-size: 5em;
}
.who p{
	font-size: 3em;
}

.bio p{
	margin: 15px;
	font-size: 1.2em;
}

.social{
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-content: space-evenly;
}
.social img{
	height: 50px;
	width: 50px;
}

.btn{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
button{
	margin: 3%;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	font-family: 'Arvo', serif;
	color: #e0ce00;
	background: rgba(0, 0, 0, 0.7);
	border: none;
}
button:hover{
	background: rgba(224,206,0,0.8);
	color: black;
}

.section2{
	margin: auto;
	max-width: 65%;
	height: 700px;
}
.projects{
	width: auto;
	padding: 20px;
	background: rgba(15,70,98,0.8);
}
.projects h1{
	text-align: center;
}
